@media screen and (max-width: 1024px) {
    .carousel-item__content {
        left: 0;
        width: 100%
    }
    .carousel-item__text {
        position: absolute;
        top: 80px;
        left: 100px
    }
    .carousel-item__subtitle {
        margin-bottom: 35px
    }
    .main-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .sidebar {
        width: 100%;
        margin-bottom: 35px;
        padding: 0 20px
    }
}

@media screen and (max-width: 768px) {
    .header-banner__card{
        text-align: center;
    }
    .navbar {
        background: #0F1421;
    }
    .navbar-brand {
        padding: 1rem .3rem;
        margin: 0
    }
    .navbar-collapse {
        height: 100vh;
        padding: 24px;
        position: fixed;
        left: 0;
        right: 0;
        top: 65px;
        background: #0F1421;
    }
    .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .navbar-nav li {
        margin-right: 0;
        margin-bottom: 15px
    }
    .auth-reg__link {
        padding: 5px 15px
    }
    .navbar-nav .nav-link {
        line-height: 33px
    }
    .carousel-item__content {
        width: 100%;
        top: 30px;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
    .carousel-item__content img {
        display: none
    }
    .carousel-item__text {
        left: 30px;
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
    .carousel-item__image img {
        height: 350px
    }
    .carousel-item__title {
        font-size: 18px
    }
    .carousel-item__subtitle {
        font-size: 14px
    }
    .carousel-indicators {
        display: none
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none
    }
    .sidebar {
        margin-top: 50px
    }
    .container {
        padding: 0 1.5rem
    }
    .main-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .sidebar {
        width: 100%;
        min-width: auto;
        padding-left: 0
    }
    .soft-item {
        padding: 15px
    }
    .footer-navbar {
        padding: 20px
    }
    .slots-more {
        margin-left: auto
    }
    .sidebar-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: none
    }
    .sidebar-soft {
        width: 50%
    }
    .sidebar-carousel {
        width: 50%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content
    }
    .header-carousel {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content
    }
    .soft-items {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        row-gap: 10px
    }
    .promo-title {
        font-size: 32px;
        line-height: 38px;
        width: 100%;
    }
    .footer-navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar-top {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .auth-reg__link {
        font-size: 8px;
        padding: 5px 10px
    }
    .sidebar-jackpot__value {
        font-size: 32px
    }
    .sidebar-soft__item,
    .sidebar-jsoft__item {
        width: 100%;
        margin-right: 0
    }
    .slots-title h2 {
        font-size: 16px
    }
    .sidebar-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: none
    }
    .sidebar-soft {
        width: 100%
    }
    .sidebar-carousel {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content
    }
    .header-carousel .header-slide__img {
        display: none
    }
    .header-slide__title {
        max-width: none
    }
}

@media screen and (max-width: 525px) {
    .cookieinfo>div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .cookieinfo-close {
        position: relative;
        margin-top: 20px
    }
}